[General]
port = 64502
clientip = [clientip]
username = [username]

# do not use ~ for home directory
key = [full path to ssh key]

# again, dont use ~ for your home directory
pidfile = [full path to pid file]

# debug level determines how much is printed to the console.
# possible values:
# none
# err
# warn
# info
# verbose
log_level = none

# don't change this
stdin = /dev/null
# if you want to log regular output, change this to the logfile
stdout =  /dev/null
# if you want to log errors, change this to the logfile
stderr =  /dev/null
